<html>

<head>
	<title>Hazelcast Web App</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
	</meta>

	<!-- Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</link>
	<!-- Bootstrap -->

	<link rel="styleSheet" href="style.css" type="text/css" media="screen">
	</link>
</head>

<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Hazelcast Web App</a>
				<a class="navbar-brand graph-link" href="/graph" target="_blank">GRAPH</a>
			</div>
		</div>
	</nav>

	<div class="container vertical-center">
		<form id="parent-form" class="form-group jumbotron">
			<div id="algorithm-store">
				<button type="button" class="btn" data-toggle="modal" data-target="#saveAlgorithmModal">Save</button>
				<button id="delete-algorithm-btn" class="btn" type="button" onclick="deleteAlgorithm()"
					disabled>Delete</button>
				<button id="load-algorithm-btn" class="btn btn-outline-secondary" type="button"
					onclick="loadAlgorithm()" disabled>Load</button>
				<select id="loadAlgorithmSelector" class="custom-select form-control" onmousedown="updateLoadValues()"
					onchange="toggleLoadBtn()">
					<option value="Choose..." selected>Choose...</option>
				</select>
			</div>
			<p class="group-buttons">
				<button id="add-group-btn" type="button" class="btn btn-lg btn-info" onclick="addGroup()">Add
					group</button>
				<button id="remove-group" type="button" class="btn btn-lg btn-warning" onclick="removeGroup()" disabled>Remove
					group</button>
				<button id="submit-btn" type="button" class="btn btn-lg btn-success" onclick="post()">Go</button>
			</p>
		</form>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="saveAlgorithmModal" tabindex="-1" role="dialog" data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Save algorithm with name</h5>
				</div>
				<div class="modal-body">
					<input class="form-control" id="algorithm-store-name" placeholder="MyAlgorithm" value="MyAlgorithm">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary"
						onclick="saveAlgorithm(document.getElementById('algorithm-store-name').value)"
						data-dismiss="modal">Save
						algorithm</button>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<div class="text-muted">CodeURJC</div>
			<a href="http://www.codeurjc.es/" target="_blank">
				<img class="footer-logo" src="images/code.png" />
			</a>
		</div>
	</footer>

	<script th:inline="javascript">
		/*<![CDATA[*/
		window.TASKS = [];

		function addLoadTask(index) {
			if (!window.TASKS[index]) {
				window.TASKS[index] = [];
			}
			return addLoadTaskAux('cpu', index, 15000, 14, 0);
		}

		function removeLoadTask(index) {
			$('#group' + index + ' .task').last().remove();
			window.TASKS[index].pop();
			if (window.TASKS[index].length === 0) {
				$('#remove-task-' + index).prop("disabled", true);
			}
			return false;
		}

		function addLoadTaskAux(type, group, load, duration, delay) {
			var str =
				'<div class="task"><div class="form-row"><div style="display: inline-block; width: 125px">' +
				'<label>Type of task</label><div>' +
				'<input type="radio" name="typeOfTask' + group + window.window.TASKS[group].length +
				'" value="cpu" ' + (type === 'cpu' ? 'checked' : '') + ' oninput="updateInputValue(this.value, ' + group +
				', ' + window.TASKS[group].length + ', \'type\')"> PiDigitsTask<br>' +
				'<input type="radio" name="typeOfTask' + group + window.TASKS[group].length + '" value="mem" ' + (type ===
					'mem' ?
					'checked' : '') + ' oninput="updateInputValue(this.value, ' + group + ', ' + window.TASKS[group].length +
				', \'type\')"> MemTask</div></div>' +
				'<p><label>Task load</label>' +
				'<input id="taskLoad' + group + window.TASKS[group].length +
				'" class="form-control" type="number" name="taskLoad' +
				group + window.TASKS[group].length +
				'" required="true" value="' + load + '" oninput="updateInputValue(this.value, ' + group + ', ' + window.TASKS[
					group].length + ', \'load\')"></input>' +
				'</p><p><label>Max task duration</label>' +
				'<input id="duration' + group + window.TASKS[group].length +
				'" class="form-control" type="number" name="duration' +
				group + window.TASKS[group].length +
				'" required="true" value="' + duration + '" oninput="updateInputValue(this.value, ' + group + ', ' + window
				.TASKS[group].length + ', \'duration\')"></input>' +
				'</p><p><label>Delay</label>' +
				'<input id="delay' + group + window.TASKS[group].length + '" class="form-control" type="number" name="delay' +
				group +
				window.TASKS[group].length +
				'" required="true" value="' + delay + '" oninput="updateInputValue(this.value, ' + group + ', ' + window
				.TASKS[group].length + ', \'delay\')"></input>' +
				'</p></div></div>';

			var node = $.parseHTML(str);

			window.TASKS[group].push({
				type,
				load,
				duration,
				delay
			});

			if (window.TASKS[group].length === 1) {
				$('#group' + group + ' .task-buttons').last().before(str);
				$('#remove-task-' + group).prop("disabled", false);
			} else {
				$('#group' + group + ' .task').last().after(str);
			}
		}

		function updateInputValue(newValue, groupIndex, taskIndex, taskProperty) {
			window.TASKS[groupIndex][taskIndex][taskProperty] = newValue;
		}

		function updateLoadValues() {
			var selector = document.getElementById('loadAlgorithmSelector');
			var previousOptions = [];
			selector.childNodes.forEach(node => {
				if (node.innerHTML !== 'Choose...') {
					previousOptions.push(node.innerHTML);
				}
			});
			var savedAlgorithms = JSON.parse(localStorage.getItem('squirrel-drey-algorithms'));
			if (!!savedAlgorithms) {
				Object.keys(savedAlgorithms).forEach((key, index) => {
					if (previousOptions.indexOf(key) === -1) {
						var option = document.createElement("option");
						option.value = key;
						var optionText = document.createTextNode(key);
						option.appendChild(optionText);
						selector.appendChild(option);
					} else {
						previousOptions.splice(previousOptions.indexOf(key), 1);
					}
				});
				selector.childNodes.forEach(node => {
					if (previousOptions.indexOf(node.innerHTML) !== -1) {
						selector.removeChild(node);
					}
				});
			}
		}

		function toggleLoadBtn() {
			var selector = document.getElementById('loadAlgorithmSelector');
			var selectedAlgorithm = selector.options[selector.selectedIndex].value;
			var isDisabled = selectedAlgorithm === 'Choose...';
			document.getElementById('load-algorithm-btn').disabled = isDisabled;
			document.getElementById('delete-algorithm-btn').disabled = isDisabled;
		}

		function addCpuTask(group, load, duration, delay) {
			return addLoadTaskAux('cpu', group, load, duration, delay);
		}

		function addMemTask(group, load, duration, delay) {
			return addLoadTaskAux('mem', group, load, duration, delay);
		}

		function addGroup() {
			window.TASKS.push([]);
			var groupIndex = window.TASKS.length - 1;
			var str =
				'<div id="group' + groupIndex + '" class="group"><p class="task-buttons">' +
				'<button id="add-task-' + groupIndex +
				'" type="button" class="btn btn-lg btn-info btn-add-task" onclick="addLoadTask(' +
				groupIndex + ')">Add task</button>' +
				'<button id="remove-task-' + groupIndex +
				'" type="button" class="btn btn-lg btn-warning" onclick="removeLoadTask(' + groupIndex +
				')" disabled>Remove task</button></p>';
			var node = $.parseHTML(str);

			if (groupIndex === 0) {
				$('#parent-form .group-buttons').last().before(str);
				$('#remove-group').prop("disabled", false);
			} else {
				$('#parent-form .group').last().after(str);
			}

			return false;
		}

		function removeGroup() {
			window.TASKS.pop();
			$('#parent-form .group').last().remove();
			if (window.TASKS.length === 0) {
				$('#remove-group').prop("disabled", true);
			}
			return false;
		}

		function saveAlgorithm(id) {
			var savedAlgorithms = JSON.parse(localStorage.getItem('squirrel-drey-algorithms'));
			if (!savedAlgorithms) {
				savedAlgorithms = {};
			}
			savedAlgorithms[id] = window.TASKS;
			localStorage.setItem('squirrel-drey-algorithms', JSON.stringify(savedAlgorithms));
		}

		function loadAlgorithm() {
			var selector = document.getElementById('loadAlgorithmSelector');
			var selectedAlgorithm = selector.options[selector.selectedIndex].value;
			var savedAlgorithms = JSON.parse(localStorage.getItem('squirrel-drey-algorithms'));
			var retrievedAlgorithm = savedAlgorithms[selectedAlgorithm];
			if (!retrievedAlgorithm) {
				console.error('Algorithm not found');
				return;
			}
			while (window.TASKS.length > 0) {
				removeGroup();
			}
			console.log('Algorithm loaded: ', retrievedAlgorithm);
			for (var i = 0; i < retrievedAlgorithm.length; i++) {
				this.addGroup();
				for (var j = 0; j < retrievedAlgorithm[i].length; j++) {
					if (retrievedAlgorithm[i][j].type === 'cpu') {
						addCpuTask(i, retrievedAlgorithm[i][j].load, retrievedAlgorithm[i][j].duration, retrievedAlgorithm[i][
							j
						].delay);
					} else if (retrievedAlgorithm[i][j].type === 'mem') {
						addMemTask(i, retrievedAlgorithm[i][j].load, retrievedAlgorithm[i][j].duration, retrievedAlgorithm[i][
							j
						].delay);
					}
				}
			}
		}

		function deleteAlgorithm() {
			var selector = document.getElementById('loadAlgorithmSelector');
			var selectedAlgorithm = selector.options[selector.selectedIndex].value;
			var savedAlgorithms = JSON.parse(localStorage.getItem('squirrel-drey-algorithms'));
			if (!savedAlgorithms) {
				savedAlgorithms = {};
			}
			delete savedAlgorithms[selectedAlgorithm];
			localStorage.setItem('squirrel-drey-algorithms', JSON.stringify(savedAlgorithms));
			while (window.TASKS.length > 0) {
				removeGroup();
			}
			updateLoadValues();
			toggleLoadBtn();
		}

		function post() {
			var insertionTasks = [];
			for (var i = 0; i < window.TASKS.length; i++) {
				insertionTasks[i] = {
					id: 'InsertionTask-' + i,
					loadTasks: window.TASKS[i]
				};
			}
			insertionTasks[window.TASKS.length] = {
				id: 'InsertionTask-' + (window.TASKS.length),
				loadTasks: []
			}
			console.log(insertionTasks);
			$.ajax({
				type: "POST",
				url: window.location.origin + "/solve",
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				data: JSON.stringify(insertionTasks),
				success: function (response, textStatus, jqXHR) {
					window.history.pushState("Result page", "Results", "/solve");
					$("body").html(response);
				}
			});
		}
		/*]]>*/
	</script>

</body>

</html>