<div id="overlay-loader" class="loading" hidden="true">Loading&#8230;</div>

<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Hazelcast Web App</a>
		</div>
	</div>
</nav>

<div class="solve-container">
	<div class="half-screen" id="algorithm-results">

		<div class="table-container">
			<table id="table-' + algorithms[i].id + '">
				<tr class="first-row">
					<th>Algorithm status</th>
					<td id="algorithm-status">
					</td>
					<td></td>
				</tr>
				<tr>
					<th>Number of tasks</th>
					<td id="total-tasks">
					</td>
					<td></td>
				</tr>
				<tr>
					<th>Tasks added</th>
					<td id="tasks-added">
					</td>
					<td></td>
				</tr>
				<tr>
					<th>Tasks completed</th>
					<td id="tasks-completed"></td>
					<td></td>
				</tr>
				<tr>
					<th>Tasks in the queue</th>
					<td id="tasks-queued">

					</td>
					<td>
						<div class="loader" id="loader"></div>
					</td>
				</tr>
				<tr id="result-row" hidden="true">
					<th>Final result</th>
					<td id="final-result"></td>
					<td></td>
				</tr>
				<tr id="time-row" hidden="true">
					<th>Time of processing</th>
					<td id="time-processing"></td>
					<td></td>
				</tr>
				<tr>
					<th>STOP</th>
					<td><button id="stop-btn" type="button" class="btn btn-danger btn-sm btn-stop-one"
							onclick="terminateAlgorithm()">STOP</button></td>
					<td></td>
				</tr>
			</table>
		</div>

	</div>
	<div class="half-screen" id="chart">
		<canvas id="myChart" width="400" height="400"></canvas>
	</div>
</div>

<footer class="footer">
	<div class="container">
		<div class="text-muted">CodeURJC</div>
		<a href="http://www.codeurjc.es/" target="_blank">
			<img class="footer-logo" src="images/code.png" />
		</a>
	</div>
</footer>

<script th:inline="javascript">
	/*<![CDATA[*/
	var numberOfTasks = /*[[${numberOfTasks}]]*/ "";
	$('#total-tasks').text(numberOfTasks);

	var nPetitions = 0;
	var myLabels = [1, '', 3, '', 5, '', 7, '', 9];
	var myDatasets = [];
	var myChart;
	var interval = setInterval(ajaxGet, 1000);

	function ajaxGet() {
		$.ajax({
			type: "GET",
			url: window.location.origin + "/statistics",
			success: function (response) {

				if (!response) {
					window.clearInterval(interval);
					$('#stop-btn').prop("disabled", true);
					$(".btn-stop-one").each(function (index, btn) {
						$(btn).prop("disabled", true);
					});
				}

				nPetitions++;
				if (nPetitions % 2 == 0) {
					myLabels[nPetitions - 1] = '';
				} else {
					myLabels[nPetitions - 1] = nPetitions;
				}

				console.log(response);
				var workerStats = response.workerStats;
				var algorithmStats = response.algorithmStats;

				if (!!workerStats) {
					for (var i = 0; i < workerStats.length; i++) {
						var stat = workerStats[i];
						if (stat.workerId) {
							var pos = existingWorkerPosition(myDatasets, stat.workerId);
							if (pos >= 0) {
								// Worker already exists
								myDatasets[pos].data.push(stat.workingCores);
							} else {
								// New worker
								var newData = [];
								for (var k = 0; k < nPetitions - 1; k++) {
									newData[k] = '';
								}
								newData[nPetitions - 1] = stat.workingCores;
								var randomColor = getRandomColor();
								myDatasets.push({
									label: stat.workerId + " (" + stat.totalCores + " cores)",
									fill: false,
									borderColor: randomColor,
									backgroundColor: randomColor,
									data: newData
								});
							}
						}
					}
				}
				myChart.update();

				if (!!algorithmStats) {
					$('#algorithm-status').text(algorithmStats.status);
					$('#tasks-added').text(algorithmStats.tasksAdded);
					$('#tasks-completed').text(algorithmStats.tasksCompleted);
					$('#tasks-queued').text(algorithmStats.tasksQueued);
					if ((algorithmStats.tasksAdded === algorithmStats.tasksCompleted) && (algorithmStats
							.tasksQueued === 0)) {
						$('#time-processing').text(algorithmStats.timeOfProcessing + ' s');
						$('#final-result').text(algorithmStats.result);
						$('#result-row').show();
						$('#time-row').show();
						$('#loader').hide();
						$('#stop-btn').prop("disabled", true);
					}
				}
			},
			error: function (xhr) {
				console.error("ERROR: ", xhr);
			}
		});
	}

	function terminateAlgorithm() {
		$.ajax({
			type: 'POST',
			url: 'stop',
			success: function (xhr) {
				console.log('TERMINATED ALGORITHM');
				$('#loader').hide();
				$('#stop-btn').prop("disabled", true);
			},
			error: function (xhr) {
				console.error("ERROR: ", xhr);
			}
		});
	}

	function getRandomColor() {
		return 'hsla(' + Math.floor(Math.random() * 360) + ', 100%, 70%, 1)';
	}

	function existingWorkerPosition(dataset, workerId) {
		var contains = false;
		var i = 0;
		while (i < dataset.length && !contains) {
			contains = dataset[i].label.indexOf(workerId) !== -1;
			i++;
		}
		if (!contains) return -1;
		else return (i - 1);
	}

	var ctx = document.getElementById("myChart").getContext('2d');
	myChart = new Chart(ctx, {
		type: 'line',
		responsive: true,
		maintainAspectRatio: false,
		data: {
			labels: myLabels,
			datasets: myDatasets,
			fill: false
		},
		options: {
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'TIME'
					}
				}],
				yAxes: [{
					display: true,
					ticks: {
						beginAtZero: true,
						stepSize: 1,
						max: 12
					},
					scaleLabel: {
						display: true,
						labelString: 'WORKING CORES'
					}
				}]
			},
		}
	});

	/*]]>*/
</script>