<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Hazelcast Web App</a>
		</div>
	</div>
</nav>

<div class="container vertical-center">
	<div id="project-results"></div>
</div>

<footer class="footer">
	<div class="container">
		<div class="text-muted">CodeURJC</div>
		<a href="http://www.codeurjc.es/" target="_blank">
			<img class="footer-logo" src="images/code.png" />
		</a>
	</div>
</footer>

<script th:inline="javascript">
	/*<![CDATA[*/
	var projects = [[${projects}]];
	var projectIds = [];
	for (var i = 0; i < projects.length; i++) {
		projectIds[i] = projects[i].id;
		var strHtml = '<div class="table-container"><table id="table-' + i + '"><tr class="first-row"><th>Project</th><td>' + projects[i].id +
			'</td><td></td></tr><tr><th>Data</th><td>' + projects[i].data +
			'</td><td></td></tr><tr><th>Tasks completed</th><td id="tasks-completed-' + i + '"></td><td></td></tr><tr><th>Tasks in the queue</th><td id="tasks-queue-' + i +
			'"></td><td><div class="loader" id="loader-' + i + '"></div></td></tr><tr id="result-row-' + i +
			'" hidden="true"><th>Final result</th><td id="final-result-' +
			i + '"></td><td></td></tr><tr id="time-row-' + i +
			'" hidden="true"><th>Time of processing on the server</th><td id="time-processing-' + i +
			'"></td><td></td></tr></table></div>'
		var node = $.parseHTML(strHtml);
		$('#project-results').append(node);
	}
	var interval = setInterval(ajaxGet, 1000);

	function ajaxGet() {
		$.ajax({
			type: "GET",
			url: window.location.origin + "/result",
			data: {
				projectIds: projectIds
			},
			success: function (response) {
				console.log(response);
				var allSolved = true;
				for (var i = 0; i < response.length; i++) {
					var r = response[i];
					$('#tasks-queue-' + i).text(r.taskQueued);
					$('#tasks-completed-' + i).text(r.taskCompleted);
					if (r.result && r.timeOfProcessing) {
						$('#time-processing-' + i).text(r.timeOfProcessing + ' s');
						$('#final-result-' + i).text(r.result);
						$('#result-row-' + i).show();
						$('#time-row-' + i).show();
						$('#loader-' + i).hide();
						allSolved = allSolved && true;
					} else {
						allSolved = allSolved && false;
					}
				}
				if (allSolved) window.clearInterval(interval);
			},
			error: function (xhr) {
				console.error("ERROR: ", xhr);
			}
		});
	}
	/*]]>*/
</script>